<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/commodityPoolStatement"> commodityPoolStatement管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加commodityPoolStatement</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="commodityPoolId" class="control-label">commodityPoolId：</label></td>
			<td><input class="form-control" type="text" id="commodityPoolId" ng-model="data.commodityPoolId"/></td>
			<td><label for="opType" class="control-label">opType：</label></td>
			<td><input class="form-control" type="text" id="opType" ng-model="data.opType"/></td>
		</tr>
		<tr>
			<td><label for="curId" class="control-label">curId：</label></td>
			<td><input class="form-control" type="text" id="curId" ng-model="data.curId"/></td>
			<td><label for="befAmt" class="control-label">befAmt：</label></td>
			<td><input class="form-control" type="text" id="befAmt" ng-model="data.befAmt"/></td>
		</tr>
		<tr>
			<td><label for="aftAmt" class="control-label">aftAmt：</label></td>
			<td><input class="form-control" type="text" id="aftAmt" ng-model="data.aftAmt"/></td>
			<td><label for="tcId" class="control-label">tcId：</label></td>
			<td><input class="form-control" type="text" id="tcId" ng-model="data.tcId"/></td>
		</tr>
		<tr>
			<td><label for="userId" class="control-label">userId：</label></td>
			<td><input class="form-control" type="text" id="userId" ng-model="data.userId"/></td>
			<td><label for="statementType" class="control-label">statementType：</label></td>
			<td><input class="form-control" type="text" id="statementType" ng-model="data.statementType"/></td>
		</tr>
		<tr>
			<td><label for="amount" class="control-label">amount：</label></td>
			<td><input class="form-control" type="text" id="amount" ng-model="data.amount"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/commodityPoolStatement" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



