<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/tradeInfo"> tradeInfo管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新tradeInfo</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="accOrderId" class="control-label">accOrderId：</label></td>
			<td><input class="form-control" type="text" id="accOrderId" ng-model="data.accOrderId"/></td>
			<td><label for="strOrderId" class="control-label">strOrderId：</label></td>
			<td><input class="form-control" type="text" id="strOrderId" ng-model="data.strOrderId"/></td>
		</tr>
		<tr>
			<td><label for="strInstanceId" class="control-label">strInstanceId：</label></td>
			<td><input class="form-control" type="text" id="strInstanceId" ng-model="data.strInstanceId"/></td>
			<td><label for="strEntityId" class="control-label">strEntityId：</label></td>
			<td><input class="form-control" type="text" id="strEntityId" ng-model="data.strEntityId"/></td>
		</tr>
		<tr>
			<td><label for="strTempId" class="control-label">strTempId：</label></td>
			<td><input class="form-control" type="text" id="strTempId" ng-model="data.strTempId"/></td>
			<td><label for="tickStatusId" class="control-label">tickStatusId：</label></td>
			<td><input class="form-control" type="text" id="tickStatusId" ng-model="data.tickStatusId"/></td>
		</tr>
		<tr>
			<td><label for="curPairId" class="control-label">curPairId：</label></td>
			<td><input class="form-control" type="text" id="curPairId" ng-model="data.curPairId"/></td>
			<td><label for="curPairName" class="control-label">curPairName：</label></td>
			<td><input class="form-control" type="text" id="curPairName" ng-model="data.curPairName"/></td>
		</tr>
		<tr>
			<td><label for="orderType" class="control-label">orderType：</label></td>
			<td><input class="form-control" type="text" id="orderType" ng-model="data.orderType"/></td>
			<td><label for="contractType" class="control-label">contractType：</label></td>
			<td><input class="form-control" type="text" id="contractType" ng-model="data.contractType"/></td>
		</tr>
		<tr>
			<td><label for="tcRetTradeId" class="control-label">tcRetTradeId：</label></td>
			<td><input class="form-control" type="text" id="tcRetTradeId" ng-model="data.tcRetTradeId"/></td>
			<td><label for="tcId" class="control-label">tcId：</label></td>
			<td><input class="form-control" type="text" id="tcId" ng-model="data.tcId"/></td>
		</tr>
		<tr>
			<td><label for="tcName" class="control-label">tcName：</label></td>
			<td><input class="form-control" type="text" id="tcName" ng-model="data.tcName"/></td>
			<td><label for="userId" class="control-label">userId：</label></td>
			<td><input class="form-control" type="text" id="userId" ng-model="data.userId"/></td>
		</tr>
		<tr>
			<td><label for="askBid" class="control-label">askBid：</label></td>
			<td><input class="form-control" type="text" id="askBid" ng-model="data.askBid"/></td>
			<td><label for="tradeType" class="control-label">tradeType：</label></td>
			<td><input class="form-control" type="text" id="tradeType" ng-model="data.tradeType"/></td>
		</tr>
		<tr>
			<td><label for="tickPrice" class="control-label">tickPrice：</label></td>
			<td><input class="form-control" type="text" id="tickPrice" ng-model="data.tickPrice"/></td>
			<td><label for="tickQuantity" class="control-label">tickQuantity：</label></td>
			<td><input class="form-control" type="text" id="tickQuantity" ng-model="data.tickQuantity"/></td>
		</tr>
		<tr>
			<td><label for="completeStatus" class="control-label">completeStatus：</label></td>
			<td><input class="form-control" type="text" id="completeStatus" ng-model="data.completeStatus"/></td>
			<td><label for="tradeVolume" class="control-label">tradeVolume：</label></td>
			<td><input class="form-control" type="text" id="tradeVolume" ng-model="data.tradeVolume"/></td>
		</tr>
		<tr>
			<td><label for="avgPrice" class="control-label">avgPrice：</label></td>
			<td><input class="form-control" type="text" id="avgPrice" ng-model="data.avgPrice"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/tradeInfo" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
