<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/usrSubIndicatorRelate"> usrSubIndicatorRelate管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新usrSubIndicatorRelate</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="usrFatherIndicatorId" class="control-label">usrFatherIndicatorId：</label></td>
			<td><input class="form-control" type="text" id="usrFatherIndicatorId" ng-model="data.usrFatherIndicatorId"/></td>
			<td><label for="usrSubIndicatorId" class="control-label">usrSubIndicatorId：</label></td>
			<td><input class="form-control" type="text" id="usrSubIndicatorId" ng-model="data.usrSubIndicatorId"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/usrSubIndicatorRelate" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
