<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="1800">

    <properties>
        <property name="FILE_NAME">job.log</property>
        <property name="FILE_PREFIX">job</property>
    </properties>

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n %xEx"/>
        </Console>

        <RollingFile
                name="rollingLog"
                immediateFlush="true"
                bufferedIO="true"
                append="true"
                fileName="app.log"
                filePattern="app-$${date:yyyy-MM-dd}/job-%d{HH-mm}(%i).log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n %xEx"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="30" modulate="true"/>
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="rollingLog"/>
        </Root>
    </Loggers>
</Configuration>