<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/fundPoolList" class="current"> fundPoolList管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="fundPoolListId" class="control-label">fundPoolListId：</label></td>
						<td><input class="form-control" type="text" id="fundPoolListId" ng-model="searchParams.fundPoolListId"/></td>
						<td><label for="publicPoolListId" class="control-label">publicPoolListId：</label></td>
						<td><input class="form-control" type="text" id="publicPoolListId" ng-model="searchParams.publicPoolListId"/></td>
						<td><label for="fundPoolId" class="control-label">fundPoolId：</label></td>
						<td><input class="form-control" type="text" id="fundPoolId" ng-model="searchParams.fundPoolId"/></td>
					</tr>
					<tr>
						<td><label for="publicPoolId" class="control-label">publicPoolId：</label></td>
						<td><input class="form-control" type="text" id="publicPoolId" ng-model="searchParams.publicPoolId"/></td>
						<td><label for="depOrWit" class="control-label">depOrWit：</label></td>
						<td><input class="form-control" type="text" id="depOrWit" ng-model="searchParams.depOrWit"/></td>
						<td><label for="trdAccOpListId" class="control-label">trdAccOpListId：</label></td>
						<td><input class="form-control" type="text" id="trdAccOpListId" ng-model="searchParams.trdAccOpListId"/></td>
					</tr>
					<tr>
						<td><label for="befAmt" class="control-label">befAmt：</label></td>
						<td><input class="form-control" type="text" id="befAmt" ng-model="searchParams.befAmt"/></td>
						<td><label for="aftAmt" class="control-label">aftAmt：</label></td>
						<td><input class="form-control" type="text" id="aftAmt" ng-model="searchParams.aftAmt"/></td>
						<td><label for="curAmt" class="control-label">curAmt：</label></td>
						<td><input class="form-control" type="text" id="curAmt" ng-model="searchParams.curAmt"/></td>
					</tr>
					<tr>
						<td><label for="type" class="control-label">type：</label></td>
						<td><input class="form-control" type="text" id="type" ng-model="searchParams.type"/></td>
						<td><label for="bankAccount" class="control-label">bankAccount：</label></td>
						<td><input class="form-control" type="text" id="bankAccount" ng-model="searchParams.bankAccount"/></td>
						<td><label for="photoRoute" class="control-label">photoRoute：</label></td>
						<td><input class="form-control" type="text" id="photoRoute" ng-model="searchParams.photoRoute"/></td>
					</tr>
					<tr>
						<td><label for="proofId" class="control-label">proofId：</label></td>
						<td><input class="form-control" type="text" id="proofId" ng-model="searchParams.proofId"/></td>
						<td><label for="proofRoute" class="control-label">proofRoute：</label></td>
						<td><input class="form-control" type="text" id="proofRoute" ng-model="searchParams.proofRoute"/></td>
						<td><label for="userId" class="control-label">userId：</label></td>
						<td><input class="form-control" type="text" id="userId" ng-model="searchParams.userId"/></td>
					</tr>
					<tr>
						<td><label for="trdStrInstanceId" class="control-label">trdStrInstanceId：</label></td>
						<td><input class="form-control" type="text" id="trdStrInstanceId" ng-model="searchParams.trdStrInstanceId"/></td>
						<td><label for="trdStrOrderId" class="control-label">trdStrOrderId：</label></td>
						<td><input class="form-control" type="text" id="trdStrOrderId" ng-model="searchParams.trdStrOrderId"/></td>
						<td><label for="trdStrAccOrderId" class="control-label">trdStrAccOrderId：</label></td>
						<td><input class="form-control" type="text" id="trdStrAccOrderId" ng-model="searchParams.trdStrAccOrderId"/></td>
					</tr>
					<tr>
						<td><label for="description" class="control-label">description：</label></td>
						<td><input class="form-control" type="text" id="description" ng-model="searchParams.description"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/fundPoolList/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="FUND_POOL_LIST_ID">fundPoolListId</th>
					<th st-sort="PUBLIC_POOL_LIST_ID">publicPoolListId</th>
					<th st-sort="FUND_POOL_ID">fundPoolId</th>
					<th st-sort="PUBLIC_POOL_ID">publicPoolId</th>
					<th st-sort="DEP_OR_WIT">depOrWit</th>
					<th st-sort="TRD_ACC_OP_LIST_ID">trdAccOpListId</th>
					<th st-sort="BEF_AMT">befAmt</th>
					<th st-sort="AFT_AMT">aftAmt</th>
					<th st-sort="CUR_AMT">curAmt</th>
					<th st-sort="TYPE">type</th>
					<th st-sort="BANK_ACCOUNT">bankAccount</th>
					<th st-sort="PHOTO_ROUTE">photoRoute</th>
					<th st-sort="PROOF_ID">proofId</th>
					<th st-sort="PROOF_ROUTE">proofRoute</th>
					<th st-sort="USER_ID">userId</th>
					<th st-sort="TRD_STR_INSTANCE_ID">trdStrInstanceId</th>
					<th st-sort="TRD_STR_ORDER_ID">trdStrOrderId</th>
					<th st-sort="TRD_STR_ACC_ORDER_ID">trdStrAccOrderId</th>
					<th st-sort="DESCRIPTION">description</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.fundPoolListId}}</td>
					<td>{{row.publicPoolListId}}</td>
					<td>{{row.fundPoolId}}</td>
					<td>{{row.publicPoolId}}</td>
					<td>{{row.depOrWit}}</td>
					<td>{{row.trdAccOpListId}}</td>
					<td>{{row.befAmt}}</td>
					<td>{{row.aftAmt}}</td>
					<td>{{row.curAmt}}</td>
					<td>{{row.type}}</td>
					<td>{{row.bankAccount}}</td>
					<td>{{row.photoRoute}}</td>
					<td>{{row.proofId}}</td>
					<td>{{row.proofRoute}}</td>
					<td>{{row.userId}}</td>
					<td>{{row.trdStrInstanceId}}</td>
					<td>{{row.trdStrOrderId}}</td>
					<td>{{row.trdStrAccOrderId}}</td>
					<td>{{row.description}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/fundPoolList/modify/{{row.fundPoolListId}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.fundPoolListId)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="20" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="20">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
