<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/trdStrMdlParam11"> trdStrMdlParam11管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加trdStrMdlParam11</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="策略实体编号" class="control-label">策略实体编号：</label></td>
			<td><input class="form-control" type="text" id="策略实体编号" ng-model="data.策略实体编号"/></td>
			<td><label for="参数编号" class="control-label">参数编号：</label></td>
			<td><input class="form-control" type="text" id="参数编号" ng-model="data.参数编号"/></td>
		</tr>
		<tr>
			<td><label for="权限编号" class="control-label">权限编号：</label></td>
			<td><input class="form-control" type="text" id="权限编号" ng-model="data.权限编号"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/trdStrMdlParam11" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



