<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/newbieChinaBtc360"> newbieChinaBtc360管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加newbieChinaBtc360</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="date" class="control-label">date：</label></td>
			<td><input class="form-control" type="text" id="date" ng-model="data.date"/></td>
			<td><label for="indx" class="control-label">indx：</label></td>
			<td><input class="form-control" type="text" id="indx" ng-model="data.indx"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/newbieChinaBtc360" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



