<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/bti240" class="current"> bti240管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="date" class="control-label">date：</label></td>
						<td><input class="form-control" type="text" id="date" ng-model="searchParams.date"/></td>
						<td><label for="indx" class="control-label">indx：</label></td>
						<td><input class="form-control" type="text" id="indx" ng-model="searchParams.indx"/></td>
						<td><label for="info" class="control-label">info：</label></td>
						<td><input class="form-control" type="text" id="info" ng-model="searchParams.info"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/bti240/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="date">date</th>
					<th st-sort="indx">indx</th>
					<th st-sort="info">info</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.date}}</td>
					<td>{{row.indx}}</td>
					<td>{{row.info}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/bti240/modify/{{row.}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="4" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="4">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
