<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/trdStrEntityParamSetting" class="current"> trdStrEntityParamSetting管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="id" class="control-label">id：</label></td>
						<td><input class="form-control" type="text" id="id" ng-model="searchParams.id"/></td>
						<td><label for="strEntityId" class="control-label">strEntityId：</label></td>
						<td><input class="form-control" type="text" id="strEntityId" ng-model="searchParams.strEntityId"/></td>
						<td><label for="paramId" class="control-label">paramId：</label></td>
						<td><input class="form-control" type="text" id="paramId" ng-model="searchParams.paramId"/></td>
					</tr>
					<tr>
						<td><label for="groupId" class="control-label">groupId：</label></td>
						<td><input class="form-control" type="text" id="groupId" ng-model="searchParams.groupId"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/trdStrEntityParamSetting/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="ID">id</th>
					<th st-sort="STR_ENTITY_ID">strEntityId</th>
					<th st-sort="PARAM_ID">paramId</th>
					<th st-sort="GROUP_ID">groupId</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.id}}</td>
					<td>{{row.strEntityId}}</td>
					<td>{{row.paramId}}</td>
					<td>{{row.groupId}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/trdStrEntityParamSetting/modify/{{row.id}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.id)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="5" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="5">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
