<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/advancedAggStrategy"> advancedAggStrategy管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加advancedAggStrategy</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="advancedAggName" class="control-label">advancedAggName：</label></td>
			<td><input class="form-control" type="text" id="advancedAggName" ng-model="data.advancedAggName"/></td>
			<td><label for="identifyCode" class="control-label">identifyCode：</label></td>
			<td><input class="form-control" type="text" id="identifyCode" ng-model="data.identifyCode"/></td>
		</tr>
		<tr>
			<td><label for="baseAggTime" class="control-label">baseAggTime：</label></td>
			<td><input class="form-control" type="text" id="baseAggTime" ng-model="data.baseAggTime"/></td>
			<td><label for="baseAggTimeUnit" class="control-label">baseAggTimeUnit：</label></td>
			<td><input class="form-control" type="text" id="baseAggTimeUnit" ng-model="data.baseAggTimeUnit"/></td>
		</tr>
		<tr>
			<td><label for="advancedAggTime" class="control-label">advancedAggTime：</label></td>
			<td><input class="form-control" type="text" id="advancedAggTime" ng-model="data.advancedAggTime"/></td>
			<td><label for="advancedAggTimeUnit" class="control-label">advancedAggTimeUnit：</label></td>
			<td><input class="form-control" type="text" id="advancedAggTimeUnit" ng-model="data.advancedAggTimeUnit"/></td>
		</tr>
		<tr>
			<td><label for="description" class="control-label">description：</label></td>
			<td><input class="form-control" type="text" id="description" ng-model="data.description"/></td>
			<td><label for="releaseStatus" class="control-label">releaseStatus：</label></td>
			<td><input class="form-control" type="text" id="releaseStatus" ng-model="data.releaseStatus"/></td>
		</tr>
		<tr>
			<td><label for="enableModify" class="control-label">enableModify：</label></td>
			<td><input class="form-control" type="text" id="enableModify" ng-model="data.enableModify"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/advancedAggStrategy" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



