<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/advancedAggStrategy" class="current"> advancedAggStrategy管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="id" class="control-label">id：</label></td>
						<td><input class="form-control" type="text" id="id" ng-model="searchParams.id"/></td>
						<td><label for="advancedAggName" class="control-label">advancedAggName：</label></td>
						<td><input class="form-control" type="text" id="advancedAggName" ng-model="searchParams.advancedAggName"/></td>
						<td><label for="identifyCode" class="control-label">identifyCode：</label></td>
						<td><input class="form-control" type="text" id="identifyCode" ng-model="searchParams.identifyCode"/></td>
					</tr>
					<tr>
						<td><label for="baseAggTime" class="control-label">baseAggTime：</label></td>
						<td><input class="form-control" type="text" id="baseAggTime" ng-model="searchParams.baseAggTime"/></td>
						<td><label for="baseAggTimeUnit" class="control-label">baseAggTimeUnit：</label></td>
						<td><input class="form-control" type="text" id="baseAggTimeUnit" ng-model="searchParams.baseAggTimeUnit"/></td>
						<td><label for="advancedAggTime" class="control-label">advancedAggTime：</label></td>
						<td><input class="form-control" type="text" id="advancedAggTime" ng-model="searchParams.advancedAggTime"/></td>
					</tr>
					<tr>
						<td><label for="advancedAggTimeUnit" class="control-label">advancedAggTimeUnit：</label></td>
						<td><input class="form-control" type="text" id="advancedAggTimeUnit" ng-model="searchParams.advancedAggTimeUnit"/></td>
						<td><label for="description" class="control-label">description：</label></td>
						<td><input class="form-control" type="text" id="description" ng-model="searchParams.description"/></td>
						<td><label for="releaseStatus" class="control-label">releaseStatus：</label></td>
						<td><input class="form-control" type="text" id="releaseStatus" ng-model="searchParams.releaseStatus"/></td>
					</tr>
					<tr>
						<td><label for="enableModify" class="control-label">enableModify：</label></td>
						<td><input class="form-control" type="text" id="enableModify" ng-model="searchParams.enableModify"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/advancedAggStrategy/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="ID">id</th>
					<th st-sort="ADVANCED_AGG_NAME">advancedAggName</th>
					<th st-sort="IDENTIFY_CODE">identifyCode</th>
					<th st-sort="BASE_AGG_TIME">baseAggTime</th>
					<th st-sort="BASE_AGG_TIME_UNIT">baseAggTimeUnit</th>
					<th st-sort="ADVANCED_AGG_TIME">advancedAggTime</th>
					<th st-sort="ADVANCED_AGG_TIME_UNIT">advancedAggTimeUnit</th>
					<th st-sort="DESCRIPTION">description</th>
					<th st-sort="RELEASE_STATUS">releaseStatus</th>
					<th st-sort="ENABLE_MODIFY">enableModify</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.id}}</td>
					<td>{{row.advancedAggName}}</td>
					<td>{{row.identifyCode}}</td>
					<td>{{row.baseAggTime}}</td>
					<td>{{row.baseAggTimeUnit}}</td>
					<td>{{row.advancedAggTime}}</td>
					<td>{{row.advancedAggTimeUnit}}</td>
					<td>{{row.description}}</td>
					<td>{{row.releaseStatus}}</td>
					<td>{{row.enableModify}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/advancedAggStrategy/modify/{{row.id}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.id)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="11" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="11">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
