<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/usrStrIndicatorParamUsrStrIndicatorRelate"> usrStrIndicatorParamUsrStrIndicatorRelate管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加usrStrIndicatorParamUsrStrIndicatorRelate</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="usrStrIndicatorParamId" class="control-label">usrStrIndicatorParamId：</label></td>
			<td><input class="form-control" type="text" id="usrStrIndicatorParamId" ng-model="data.usrStrIndicatorParamId"/></td>
			<td><label for="usrTrdStrIndicatorId" class="control-label">usrTrdStrIndicatorId：</label></td>
			<td><input class="form-control" type="text" id="usrTrdStrIndicatorId" ng-model="data.usrTrdStrIndicatorId"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/usrStrIndicatorParamUsrStrIndicatorRelate" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



