<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/trdStrOrderParams"> trdStrOrderParams管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加trdStrOrderParams</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="trdStrInstanceId" class="control-label">trdStrInstanceId：</label></td>
			<td><input class="form-control" type="text" id="trdStrInstanceId" ng-model="data.trdStrInstanceId"/></td>
			<td><label for="strOrderId" class="control-label">strOrderId：</label></td>
			<td><input class="form-control" type="text" id="strOrderId" ng-model="data.strOrderId"/></td>
		</tr>
		<tr>
			<td><label for="paramName" class="control-label">paramName：</label></td>
			<td><input class="form-control" type="text" id="paramName" ng-model="data.paramName"/></td>
			<td><label for="paramValue" class="control-label">paramValue：</label></td>
			<td><input class="form-control" type="text" id="paramValue" ng-model="data.paramValue"/></td>
		</tr>
		<tr>
			<td><label for="createTimeMills" class="control-label">createTimeMills：</label></td>
			<td><input class="form-control" type="text" id="createTimeMills" ng-model="data.createTimeMills"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/trdStrOrderParams" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



