<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/trdStrIndicatorTrdStrEntityRelate"> trdStrIndicatorTrdStrEntityRelate管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加trdStrIndicatorTrdStrEntityRelate</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="trdStrIndicatorId" class="control-label">trdStrIndicatorId：</label></td>
			<td><input class="form-control" type="text" id="trdStrIndicatorId" ng-model="data.trdStrIndicatorId"/></td>
			<td><label for="trdStrEntityId" class="control-label">trdStrEntityId：</label></td>
			<td><input class="form-control" type="text" id="trdStrEntityId" ng-model="data.trdStrEntityId"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/trdStrIndicatorTrdStrEntityRelate" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



