<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/snapExchangerQueue"> snapExchangerQueue管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加snapExchangerQueue</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="queueName" class="control-label">queueName：</label></td>
			<td><input class="form-control" type="text" id="queueName" ng-model="data.queueName"/></td>
			<td><label for="exchangerName" class="control-label">exchangerName：</label></td>
			<td><input class="form-control" type="text" id="exchangerName" ng-model="data.exchangerName"/></td>
		</tr>
		<tr>
			<td><label for="snapEntityId" class="control-label">snapEntityId：</label></td>
			<td><input class="form-control" type="text" id="snapEntityId" ng-model="data.snapEntityId"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/snapExchangerQueue" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



