<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/bidTickSnapTrdStrOrderRelate"> bidTickSnapTrdStrOrderRelate管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新bidTickSnapTrdStrOrderRelate</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="trdStrOrderId" class="control-label">trdStrOrderId：</label></td>
			<td><input class="form-control" type="text" id="trdStrOrderId" ng-model="data.trdStrOrderId"/></td>
			<td><label for="bidTickSnapId" class="control-label">bidTickSnapId：</label></td>
			<td><input class="form-control" type="text" id="bidTickSnapId" ng-model="data.bidTickSnapId"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/bidTickSnapTrdStrOrderRelate" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
