<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/usrIndicatorBindUsrIndicatorColorPlan" class="current"> usrIndicatorBindUsrIndicatorColorPlan管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="indicatorBindColorPlanId" class="control-label">indicatorBindColorPlanId：</label></td>
						<td><input class="form-control" type="text" id="indicatorBindColorPlanId" ng-model="searchParams.indicatorBindColorPlanId"/></td>
						<td><label for="usrIndicatorColorPlanId" class="control-label">usrIndicatorColorPlanId：</label></td>
						<td><input class="form-control" type="text" id="usrIndicatorColorPlanId" ng-model="searchParams.usrIndicatorColorPlanId"/></td>
						<td><label for="indicatorId" class="control-label">indicatorId：</label></td>
						<td><input class="form-control" type="text" id="indicatorId" ng-model="searchParams.indicatorId"/></td>
					</tr>
					<tr>
						<td><label for="usrIndicatorId" class="control-label">usrIndicatorId：</label></td>
						<td><input class="form-control" type="text" id="usrIndicatorId" ng-model="searchParams.usrIndicatorId"/></td>
						<td><label for="originalIndicatorId" class="control-label">originalIndicatorId：</label></td>
						<td><input class="form-control" type="text" id="originalIndicatorId" ng-model="searchParams.originalIndicatorId"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/usrIndicatorBindUsrIndicatorColorPlan/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="INDICATOR_BIND_COLOR_PLAN_ID">indicatorBindColorPlanId</th>
					<th st-sort="USR_INDICATOR_COLOR_PLAN_ID">usrIndicatorColorPlanId</th>
					<th st-sort="INDICATOR_ID">indicatorId</th>
					<th st-sort="USR_INDICATOR_ID">usrIndicatorId</th>
					<th st-sort="ORIGINAL_INDICATOR_ID">originalIndicatorId</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.indicatorBindColorPlanId}}</td>
					<td>{{row.usrIndicatorColorPlanId}}</td>
					<td>{{row.indicatorId}}</td>
					<td>{{row.usrIndicatorId}}</td>
					<td>{{row.originalIndicatorId}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/usrIndicatorBindUsrIndicatorColorPlan/modify/{{row.indicatorBindColorPlanId}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.indicatorBindColorPlanId)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="6" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="6">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
