<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/usrIndicatorBindUsrIndicatorColorPlan"> usrIndicatorBindUsrIndicatorColorPlan管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新usrIndicatorBindUsrIndicatorColorPlan</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="usrIndicatorColorPlanId" class="control-label">usrIndicatorColorPlanId：</label></td>
			<td><input class="form-control" type="text" id="usrIndicatorColorPlanId" ng-model="data.usrIndicatorColorPlanId"/></td>
			<td><label for="indicatorId" class="control-label">indicatorId：</label></td>
			<td><input class="form-control" type="text" id="indicatorId" ng-model="data.indicatorId"/></td>
		</tr>
		<tr>
			<td><label for="usrIndicatorId" class="control-label">usrIndicatorId：</label></td>
			<td><input class="form-control" type="text" id="usrIndicatorId" ng-model="data.usrIndicatorId"/></td>
			<td><label for="originalIndicatorId" class="control-label">originalIndicatorId：</label></td>
			<td><input class="form-control" type="text" id="originalIndicatorId" ng-model="data.originalIndicatorId"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/usrIndicatorBindUsrIndicatorColorPlan" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
