<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/usrIndicatorColorPlan"> usrIndicatorColorPlan管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新usrIndicatorColorPlan</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="indicatorColorPlanName" class="control-label">indicatorColorPlanName：</label></td>
			<td><input class="form-control" type="text" id="indicatorColorPlanName" ng-model="data.indicatorColorPlanName"/></td>
			<td><label for="usrId" class="control-label">usrId：</label></td>
			<td><input class="form-control" type="text" id="usrId" ng-model="data.usrId"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/usrIndicatorColorPlan" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
