<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/usrIndicatorColorPlan" class="current"> usrIndicatorColorPlan管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="indicatorColorPlanId" class="control-label">indicatorColorPlanId：</label></td>
						<td><input class="form-control" type="text" id="indicatorColorPlanId" ng-model="searchParams.indicatorColorPlanId"/></td>
						<td><label for="indicatorColorPlanName" class="control-label">indicatorColorPlanName：</label></td>
						<td><input class="form-control" type="text" id="indicatorColorPlanName" ng-model="searchParams.indicatorColorPlanName"/></td>
						<td><label for="usrId" class="control-label">usrId：</label></td>
						<td><input class="form-control" type="text" id="usrId" ng-model="searchParams.usrId"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/usrIndicatorColorPlan/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="INDICATOR_COLOR_PLAN_ID">indicatorColorPlanId</th>
					<th st-sort="INDICATOR_COLOR_PLAN_NAME">indicatorColorPlanName</th>
					<th st-sort="USR_ID">usrId</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.indicatorColorPlanId}}</td>
					<td>{{row.indicatorColorPlanName}}</td>
					<td>{{row.usrId}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/usrIndicatorColorPlan/modify/{{row.indicatorColorPlanId}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.indicatorColorPlanId)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="4" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="4">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
