<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/contractType"> contractType管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加contractType</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="contractTypeName" class="control-label">contractTypeName：</label></td>
			<td><input class="form-control" type="text" id="contractTypeName" ng-model="data.contractTypeName"/></td>
			<td><label for="descrption" class="control-label">descrption：</label></td>
			<td><input class="form-control" type="text" id="descrption" ng-model="data.descrption"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/contractType" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



