<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/tickOp" class="current"> tickOp管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="accTickOpId" class="control-label">accTickOpId：</label></td>
						<td><input class="form-control" type="text" id="accTickOpId" ng-model="searchParams.accTickOpId"/></td>
						<td><label for="opType" class="control-label">opType：</label></td>
						<td><input class="form-control" type="text" id="opType" ng-model="searchParams.opType"/></td>
						<td><label for="tickStatus" class="control-label">tickStatus：</label></td>
						<td><input class="form-control" type="text" id="tickStatus" ng-model="searchParams.tickStatus"/></td>
					</tr>
					<tr>
						<td><label for="askBid" class="control-label">askBid：</label></td>
						<td><input class="form-control" type="text" id="askBid" ng-model="searchParams.askBid"/></td>
						<td><label for="accOrderId" class="control-label">accOrderId：</label></td>
						<td><input class="form-control" type="text" id="accOrderId" ng-model="searchParams.accOrderId"/></td>
						<td><label for="strOrderId" class="control-label">strOrderId：</label></td>
						<td><input class="form-control" type="text" id="strOrderId" ng-model="searchParams.strOrderId"/></td>
					</tr>
					<tr>
						<td><label for="strInstanceId" class="control-label">strInstanceId：</label></td>
						<td><input class="form-control" type="text" id="strInstanceId" ng-model="searchParams.strInstanceId"/></td>
						<td><label for="strEntityId" class="control-label">strEntityId：</label></td>
						<td><input class="form-control" type="text" id="strEntityId" ng-model="searchParams.strEntityId"/></td>
						<td><label for="strTempId" class="control-label">strTempId：</label></td>
						<td><input class="form-control" type="text" id="strTempId" ng-model="searchParams.strTempId"/></td>
					</tr>
					<tr>
						<td><label for="curPairId" class="control-label">curPairId：</label></td>
						<td><input class="form-control" type="text" id="curPairId" ng-model="searchParams.curPairId"/></td>
						<td><label for="curPairName" class="control-label">curPairName：</label></td>
						<td><input class="form-control" type="text" id="curPairName" ng-model="searchParams.curPairName"/></td>
						<td><label for="orderType" class="control-label">orderType：</label></td>
						<td><input class="form-control" type="text" id="orderType" ng-model="searchParams.orderType"/></td>
					</tr>
					<tr>
						<td><label for="contractTypeName" class="control-label">contractTypeName：</label></td>
						<td><input class="form-control" type="text" id="contractTypeName" ng-model="searchParams.contractTypeName"/></td>
						<td><label for="tcRetTickId" class="control-label">tcRetTickId：</label></td>
						<td><input class="form-control" type="text" id="tcRetTickId" ng-model="searchParams.tcRetTickId"/></td>
						<td><label for="tcId" class="control-label">tcId：</label></td>
						<td><input class="form-control" type="text" id="tcId" ng-model="searchParams.tcId"/></td>
					</tr>
					<tr>
						<td><label for="tcName" class="control-label">tcName：</label></td>
						<td><input class="form-control" type="text" id="tcName" ng-model="searchParams.tcName"/></td>
						<td><label for="userId" class="control-label">userId：</label></td>
						<td><input class="form-control" type="text" id="userId" ng-model="searchParams.userId"/></td>
						<td><label for="tickPrice" class="control-label">tickPrice：</label></td>
						<td><input class="form-control" type="text" id="tickPrice" ng-model="searchParams.tickPrice"/></td>
					</tr>
					<tr>
						<td><label for="tickQuantity" class="control-label">tickQuantity：</label></td>
						<td><input class="form-control" type="text" id="tickQuantity" ng-model="searchParams.tickQuantity"/></td>
						<td><label for="tickOpCom" class="control-label">tickOpCom：</label></td>
						<td><input class="form-control" type="text" id="tickOpCom" ng-model="searchParams.tickOpCom"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/tickOp/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="ACC_TICK_OP_ID">accTickOpId</th>
					<th st-sort="OP_TYPE">opType</th>
					<th st-sort="TICK_STATUS">tickStatus</th>
					<th st-sort="ASK_BID">askBid</th>
					<th st-sort="ACC_ORDER_ID">accOrderId</th>
					<th st-sort="STR_ORDER_ID">strOrderId</th>
					<th st-sort="STR_INSTANCE_ID">strInstanceId</th>
					<th st-sort="STR_ENTITY_ID">strEntityId</th>
					<th st-sort="STR_TEMP_ID">strTempId</th>
					<th st-sort="CUR_PAIR_ID">curPairId</th>
					<th st-sort="CUR_PAIR_NAME">curPairName</th>
					<th st-sort="ORDER_TYPE">orderType</th>
					<th st-sort="CONTRACT_TYPE_NAME">contractTypeName</th>
					<th st-sort="TC_RET_TICK_ID">tcRetTickId</th>
					<th st-sort="TC_ID">tcId</th>
					<th st-sort="TC_NAME">tcName</th>
					<th st-sort="USER_ID">userId</th>
					<th st-sort="TICK_PRICE">tickPrice</th>
					<th st-sort="TICK_QUANTITY">tickQuantity</th>
					<th st-sort="TICK_OP_COM">tickOpCom</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.accTickOpId}}</td>
					<td>{{row.opType}}</td>
					<td>{{row.tickStatus}}</td>
					<td>{{row.askBid}}</td>
					<td>{{row.accOrderId}}</td>
					<td>{{row.strOrderId}}</td>
					<td>{{row.strInstanceId}}</td>
					<td>{{row.strEntityId}}</td>
					<td>{{row.strTempId}}</td>
					<td>{{row.curPairId}}</td>
					<td>{{row.curPairName}}</td>
					<td>{{row.orderType}}</td>
					<td>{{row.contractTypeName}}</td>
					<td>{{row.tcRetTickId}}</td>
					<td>{{row.tcId}}</td>
					<td>{{row.tcName}}</td>
					<td>{{row.userId}}</td>
					<td>{{row.tickPrice}}</td>
					<td>{{row.tickQuantity}}</td>
					<td>{{row.tickOpCom}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/tickOp/modify/{{row.accTickOpId}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.accTickOpId)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="21" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="21">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
