<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/tickOp"> tickOp管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加tickOp</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="opType" class="control-label">opType：</label></td>
			<td><input class="form-control" type="text" id="opType" ng-model="data.opType"/></td>
			<td><label for="tickStatus" class="control-label">tickStatus：</label></td>
			<td><input class="form-control" type="text" id="tickStatus" ng-model="data.tickStatus"/></td>
		</tr>
		<tr>
			<td><label for="askBid" class="control-label">askBid：</label></td>
			<td><input class="form-control" type="text" id="askBid" ng-model="data.askBid"/></td>
			<td><label for="accOrderId" class="control-label">accOrderId：</label></td>
			<td><input class="form-control" type="text" id="accOrderId" ng-model="data.accOrderId"/></td>
		</tr>
		<tr>
			<td><label for="strOrderId" class="control-label">strOrderId：</label></td>
			<td><input class="form-control" type="text" id="strOrderId" ng-model="data.strOrderId"/></td>
			<td><label for="strInstanceId" class="control-label">strInstanceId：</label></td>
			<td><input class="form-control" type="text" id="strInstanceId" ng-model="data.strInstanceId"/></td>
		</tr>
		<tr>
			<td><label for="strEntityId" class="control-label">strEntityId：</label></td>
			<td><input class="form-control" type="text" id="strEntityId" ng-model="data.strEntityId"/></td>
			<td><label for="strTempId" class="control-label">strTempId：</label></td>
			<td><input class="form-control" type="text" id="strTempId" ng-model="data.strTempId"/></td>
		</tr>
		<tr>
			<td><label for="curPairId" class="control-label">curPairId：</label></td>
			<td><input class="form-control" type="text" id="curPairId" ng-model="data.curPairId"/></td>
			<td><label for="curPairName" class="control-label">curPairName：</label></td>
			<td><input class="form-control" type="text" id="curPairName" ng-model="data.curPairName"/></td>
		</tr>
		<tr>
			<td><label for="orderType" class="control-label">orderType：</label></td>
			<td><input class="form-control" type="text" id="orderType" ng-model="data.orderType"/></td>
			<td><label for="contractTypeName" class="control-label">contractTypeName：</label></td>
			<td><input class="form-control" type="text" id="contractTypeName" ng-model="data.contractTypeName"/></td>
		</tr>
		<tr>
			<td><label for="tcRetTickId" class="control-label">tcRetTickId：</label></td>
			<td><input class="form-control" type="text" id="tcRetTickId" ng-model="data.tcRetTickId"/></td>
			<td><label for="tcId" class="control-label">tcId：</label></td>
			<td><input class="form-control" type="text" id="tcId" ng-model="data.tcId"/></td>
		</tr>
		<tr>
			<td><label for="tcName" class="control-label">tcName：</label></td>
			<td><input class="form-control" type="text" id="tcName" ng-model="data.tcName"/></td>
			<td><label for="userId" class="control-label">userId：</label></td>
			<td><input class="form-control" type="text" id="userId" ng-model="data.userId"/></td>
		</tr>
		<tr>
			<td><label for="tickPrice" class="control-label">tickPrice：</label></td>
			<td><input class="form-control" type="text" id="tickPrice" ng-model="data.tickPrice"/></td>
			<td><label for="tickQuantity" class="control-label">tickQuantity：</label></td>
			<td><input class="form-control" type="text" id="tickQuantity" ng-model="data.tickQuantity"/></td>
		</tr>
		<tr>
			<td><label for="tickOpCom" class="control-label">tickOpCom：</label></td>
			<td><input class="form-control" type="text" id="tickOpCom" ng-model="data.tickOpCom"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/tickOp" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



