<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/aggregationEntity"> aggregationEntity管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 添加aggregationEntity</a>
</div>
<form class="table-query-form" on-validated="add()" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="entityName" class="control-label">entityName：</label></td>
			<td><input class="form-control" type="text" id="entityName" ng-model="data.entityName"/></td>
			<td><label for="identifyCode" class="control-label">identifyCode：</label></td>
			<td><input class="form-control" type="text" id="identifyCode" ng-model="data.identifyCode"/></td>
		</tr>
		<tr>
			<td><label for="tcId" class="control-label">tcId：</label></td>
			<td><input class="form-control" type="text" id="tcId" ng-model="data.tcId"/></td>
			<td><label for="aggregationStrategyId" class="control-label">aggregationStrategyId：</label></td>
			<td><input class="form-control" type="text" id="aggregationStrategyId" ng-model="data.aggregationStrategyId"/></td>
		</tr>
		<tr>
			<td><label for="curPairId" class="control-label">curPairId：</label></td>
			<td><input class="form-control" type="text" id="curPairId" ng-model="data.curPairId"/></td>
			<td><label for="description" class="control-label">description：</label></td>
			<td><input class="form-control" type="text" id="description" ng-model="data.description"/></td>
		</tr>
		<tr>
			<td><label for="releaseStatus" class="control-label">releaseStatus：</label></td>
			<td><input class="form-control" type="text" id="releaseStatus" ng-model="data.releaseStatus"/></td>
			<td><label for="enableModify" class="control-label">enableModify：</label></td>
			<td><input class="form-control" type="text" id="enableModify" ng-model="data.enableModify"/></td>
		</tr>
	</table>

    <div class="text-right table-query-btn mt10">
        <input type="submit" class="btn btn-sm btn-primary" value="保存">
        <a href="#/aggregationEntity" class="btn btn-sm btn-success">返回</a>
    </div>
</form>



