<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/trdStrInstanceDist"> trdStrInstanceDist管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新trdStrInstanceDist</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="trdStrInstanceId" class="control-label">trdStrInstanceId：</label></td>
			<td><input class="form-control" type="text" id="trdStrInstanceId" ng-model="data.trdStrInstanceId"/></td>
			<td><label for="userId" class="control-label">userId：</label></td>
			<td><input class="form-control" type="text" id="userId" ng-model="data.userId"/></td>
		</tr>
		<tr>
			<td><label for="instanceDistLimit" class="control-label">instanceDistLimit：</label></td>
			<td><input class="form-control" type="text" id="instanceDistLimit" ng-model="data.instanceDistLimit"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/trdStrInstanceDist" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
