<div class="sys_path">
	<a href="/"> 首页 </a>
	&gt; <a href="#/roles"> roles管理</a>
	&gt; <a href="javascript:void(0)" class="current"> 更新roles</a>
</div>
<form class="table-query-form" on-validated="update();" novalidate jq-validation>
	<h3 class="view_sub_title">基本信息</h3>
	<table class="query_table">
		<tr>
			<td><label for="roleName" class="control-label">roleName：</label></td>
			<td><input class="form-control" type="text" id="roleName" ng-model="data.roleName"/></td>
			<td><label for="roleCode" class="control-label">roleCode：</label></td>
			<td><input class="form-control" type="text" id="roleCode" ng-model="data.roleCode"/></td>
		</tr>
		<tr>
			<td><label for="roleDesc" class="control-label">roleDesc：</label></td>
			<td><input class="form-control" type="text" id="roleDesc" ng-model="data.roleDesc"/></td>
		</tr>
	</table>

	<div class="text-right table-query-btn mt10">
		<input type="submit" class="btn btn-sm btn-primary" value="保存">
		<a href="#/roles" class="btn btn-sm btn-success">返回</a>
	</div>
</form>
