<div class="sys_path">
	<a href="/"> 首页 </a> &gt; <a href="#/resources" class="current"> resources管理</a>
</div>
<div>
	<div class="table-query">
		<!-- Table Layout -->
		<div class="basic_query">
			<form class=" table-query-form" novalidate>
				<table class="query_table">
					<tr>
						<td><label for="resourceId" class="control-label">resourceId：</label></td>
						<td><input class="form-control" type="text" id="resourceId" ng-model="searchParams.resourceId"/></td>
						<td><label for="priority" class="control-label">priority：</label></td>
						<td><input class="form-control" type="text" id="priority" ng-model="searchParams.priority"/></td>
						<td><label for="resourceName" class="control-label">resourceName：</label></td>
						<td><input class="form-control" type="text" id="resourceName" ng-model="searchParams.resourceName"/></td>
					</tr>
					<tr>
						<td><label for="resourceStr" class="control-label">resourceStr：</label></td>
						<td><input class="form-control" type="text" id="resourceStr" ng-model="searchParams.resourceStr"/></td>
						<td><label for="resourceType" class="control-label">resourceType：</label></td>
						<td><input class="form-control" type="text" id="resourceType" ng-model="searchParams.resourceType"/></td>
						<td><label for="resourceDesc" class="control-label">resourceDesc：</label></td>
						<td><input class="form-control" type="text" id="resourceDesc" ng-model="searchParams.resourceDesc"/></td>
					</tr>
				</table>
				<div class="text-right table-query-btn mt10">
					<input type="submit" value="查询" ng-click="queryList()" class="btn btn-sm btn-primary">
					<a href="#/resources/add" class="btn btn-sm btn-danger">添加</a>
				</div>
			</form>
		</div>
	</div>

	<div class="table-result mt20">
		<table class="table table-striped text-center" st-pipe="callServer" st-table="displayed">
			<thead>
				<tr>
					<th st-sort="RESOURCE_ID">resourceId</th>
					<th st-sort="PRIORITY">priority</th>
					<th st-sort="RESOURCE_NAME">resourceName</th>
					<th st-sort="RESOURCE_STR">resourceStr</th>
					<th st-sort="RESOURCE_TYPE">resourceType</th>
					<th st-sort="RESOURCE_DESC">resourceDesc</th>
					<th>操作</th>
                </tr>
			</thead>
			<tbody ng-show="!isLoading">
				<tr ng-repeat="row in displayed">
					<td>{{row.resourceId}}</td>
					<td>{{row.priority}}</td>
					<td>{{row.resourceName}}</td>
					<td>{{row.resourceStr}}</td>
					<td>{{row.resourceType}}</td>
					<td>{{row.resourceDesc}}</td>
					<td>
						<a class="btn-txt btn-txt-green" href="#/resources/modify/{{row.resourceId}}">修改</a>
                        <a class="btn-txt btn-txt-red" ng-click="remove(row.resourceId)">删除</a>
					</td>
                </tr>
			</tbody>

			<!-- TEMP end -->
			<tbody ng-show="isLoading">
				<tr>
					<td colspan="7" class="text-center">Loading ... </td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-center" st-pagination="" st-items-by-page="20" colspan="7">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
